
html,
body,
div#__next,
main {
  height: 100%;
}
body {
  background: #eee;
  color: #222;
  font-family: monospace;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a {
  color: inherit;
  text-decoration: none;
  border: solid 1px;
  border-radius: .3em;
  padding: .4em 1.2em;
  display: inline-block;
  margin: .2em;
}
a:hover {
  box-shadow: 0px 3px currentColor;
}
svg {
  display: block;
  width: calc(10em + 20vmin);
  height: calc(10em + 20vmin);
}
.logo_svg__text {
  fill: currentColor;
}
.logo_svg__cls-6 {
  isolation: isolate;
}
.logo_svg__g_front {
  fill: hsl(180, 100%, 43%);
}
.logo_svg__g_back {
  fill: hsl(58, 100%, 46%);
}
.logo_svg__slash {
  fill: hsl(300, 100%, 60%);
}
.logo_svg__cls-5 {
  mix-blend-mode: multiply;
}
@media ( orientation: portrait ) {
  main {
    flex-direction: column;
  }
}
@media ( prefers-color-scheme: dark ) {
  body {
    background: #111;
    color: #ddd;
  }
  .logo_svg__g_front {
    fill: lime;
  }
  .logo_svg__g_back {
    fill: blue;
  }
  .logo_svg__slash {
    fill: red;
  }
  .logo_svg__cls-5 {
    mix-blend-mode: screen;
  }
}
