
html,
body,
div#__next,
main {
  height: 100%;
}
body {
  background: #eee;
  color: #222;
  font-family: monospace;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a {
  color: inherit;
  text-decoration: none;
  border: solid 1px;
  border-radius: .3em;
  padding: .4em 1.2em;
  display: inline-block;
  margin: .2em;
}
a:hover {
  box-shadow: 0px 3px currentColor;
}
svg {
  display: block;
  width: calc(10em + 20vmin);
  height: calc(10em + 20vmin);
}
@media ( orientation: portrait ) {
  main {
    flex-direction: column;
  }
}
@media ( prefers-color-scheme: dark ) {
  body {
    background: #111;
    color: #ddd;
  }
}
